# https://github.com/bkeepers/dotenv is used for
# default configuration options.  The values in
# this file do not replace existing values in
# the shell ENV, but these settings will be in
# effect when the shell ENV doesn't contain them.
# To add these settings to the shell ENV, use
# $ source .env
# To override individual settings in this file, just
# set them in the shell ENV before running a script.

# Uncomment and set values as required.  See used settings in
# lib/*/configuration.rb

# Enable debug logging and breakpoints at problematic code points.
export DEBUG=false

export RDF_LOG_FILE='log/rdf-resource.log'

# Use FOAF or SCHEMA or both
export USE_FOAF=false
export USE_SCHEMA=true

# RestClient/Rack-Cache configs, see
# http://rtomayko.github.io/rack-cache/configuration
# http://rtomayko.github.io/rack-cache/storage
export RDF_CACHE_ENABLED=false
export RDF_CACHE_VERBOSE=false
#export RDF_CACHE_METASTORE='memcached://localhost:11211/rdf_meta'
export RDF_CACHE_METASTORE='file:/tmp/cache/rdf_meta'
export RDF_CACHE_ENTITYSTORE='file:/tmp/cache/rdf_body'
export RDF_CACHE_LOG_FILE='log/rdf-cache.log'
